<h3>{{name}}</h3>
<img src="{{imageUrl}}" alt="Room image">
<p>{{description}}</p>

<p>posted by: {{owner.fullName}}</p>

{{#if reviews}}

    <ul>

    {{#each reviews}}

    <li>Review</li>

    {{/each}}

    </ul>

{{else}}

    <p>No Reviews yet</p>

{{/if}}